---
import { getCollection } from 'astro:content';
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import ProjectCard from '@components/ProjectCard.astro';
import StackCard from '@components/StackCard.astro';
import Link from '@components/Link.astro';
import Resume from '@components/Resume.astro';
import { dateRange } from '@lib/utils';
import { site, home, studies, skills, socials } from '@consts';

const projects = (await getCollection('projects'))
  .filter((project) => !project.data.draft)
  .sort((a, b) => a.data.id.valueOf() - b.data.id.valueOf())
  .slice(0, site.num_projects_homepage);
---

<Layout title={home.title} description={home.description}>
  <Container>
    <h1
      class='animate text-3xl font-black text-black dark:text-white md:text-4xl'>
      Hi, I'm Swastik <span class='pl-1'>👋</span>
    </h1>
    <div class='space-y-10'>
      <section>
        <section class='animate'>
          <article>
            <p>
              I am a <b><i>software engineer</i></b>, <b
                ><i>ui/ux designer</i></b
              >, <b><i>student</i></b>, <b><i>minimalist</i></b>, <b
                ><i>eternal optimist</i></b
              >.
            </p>
            <p class='font-light'>
              I love to both build and break things. I am motivated by
              challenging projects with self-guided research and dynamic problem
              solving. I am always looking for new opportunities to learn and
              grow.
            </p>
          </article>
          <Resume />
        </section>
      </section>
      <section class='animate space-y-6'>
        <div class='flex flex-wrap items-center justify-between gap-y-2'>
          <span class='text-lg font-bold text-black dark:text-white md:text-xl'>
            Skills
          </span>
        </div>
        <ul class='animate flex flex-row flex-wrap items-start gap-1.5'>
          {
            skills.map((entry) => (
              <li>
                <StackCard name={entry.name} />
              </li>
            ))
          }
        </ul>
      </section>
      <section class='animate space-y-6'>
        <div class='flex flex-wrap items-center justify-between gap-y-2'>
          <span class='text-lg font-bold text-black dark:text-white md:text-xl'>
            Projects
          </span>
          <Link href='/projects'> See all projects </Link>
        </div>

        <div class='grid grid-cols-1 gap-5 md:grid-cols-2'>
          {projects.map((project) => <ProjectCard entry={project} />)}
        </div>
      </section>
      <section class='animate space-y-6'>
        <div class='flex flex-wrap items-center justify-between gap-y-2'>
          <span class='text-lg font-bold text-black dark:text-white md:text-xl'>
            Studies
          </span>
        </div>
        <ul class='flex flex-col space-y-4'>
          {
            studies.map((entry) => (
              <li>
                <div class='text-sm text-gray-800 opacity-80 dark:text-gray-200'>
                  {dateRange(entry.start, entry.end)}
                </div>
                <div class='font-semibold text-black dark:text-white'>
                  {entry.school}
                </div>
                <div class='pt-1 text-sm text-gray-800 opacity-80 dark:text-gray-200'>
                  {entry.degree}
                </div>
              </li>
            ))
          }
        </ul>
      </section>
      <section class='animate space-y-4'>
        <span class='font-semibold text-black dark:text-white'
          >Let's Connect</span
        >
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>

        <ul class='flex flex-wrap gap-2'>
          {
            socials.map((social) => (
              <li class='flex gap-x-2 text-nowrap'>
                <Link
                  href={social.url}
                  external
                  aria-label={`${site.name} on ${social.name}`}>
                  {social.name}
                </Link>
                {'/'}
              </li>
            ))
          }
          <li class='line-clamp-1'>
            <Link
              href={`mailto:${site.email}`}
              aria-label={`Email ${site.name}`}>
              {site.email}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
