---

// const projectData = [
//   {
//     "ProjectName": "Project 1",
//     "ProjectDescription": "This is a project description",
//     "TechStack": ["HTML", "CSS", "JS", "React"],
//     "ProjectDemoURL": "https://www.google.com",
//     "ProjectCodeURL": "https://www.google.com",
//     "ProjectImage": "https://www.google.com"
//   },
//     {
//         "ProjectName": "Project 2",
//         "ProjectDescription": "This is a project description",
//         "TechStack": ["HTML", "CSS", "JS", "React"],
//         "ProjectDemoURL": "https://www.google.com",
//         "ProjectCodeURL": "https://www.google.com",
//         "ProjectImage": "https://www.google.com"
//     },
//     {
//         "ProjectName": "Project 3",
//         "ProjectDescription": "This is a project description",
//         "TechStack": ["HTML", "CSS", "JS", "React"],
//         "ProjectDemoURL": "https://www.google.com",
//         "ProjectCodeURL": "https://www.google.com",
//         "ProjectImage": "https://www.google.com"
//     }
// ];
import ProjectData from "../components/Data/Project-Data";
// Destructuring the object
const { ProjectName, ProjectDescription, TechStack, ProjectDemoURL, ProjectCodeURL, ProjectImage } = ProjectData[0];

// Example usage
console.log(`Project Name: ${ProjectName}`);
console.log(`Project Description: ${ProjectDescription}`);
console.log(`Tech Stack: ${TechStack.join(', ')}`);
console.log(`Demo URL: ${ProjectDemoURL}`);
console.log(`Code URL: ${ProjectCodeURL}`);
console.log(`Project Image URL: ${ProjectImage}`);
---
<div>
    {ProjectData.map((project) => (
      <div >
        <h2>{project.ProjectName}</h2>
        <ul>
          {project.TechStack.map((tech, index) => (
            <li >{tech}</li>
          ))}
        </ul>
      </div>
    ))}
  </div>
  ../components/Project-Data